# Two-person graduation-project ownership baseline.
# GitHub uses this file to make responsibility/review ownership explicit.
# Domain-specific ownership can be split later if the repository structure warrants it.

* @aihamawd @omaramer13
